body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
}
.area-login{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
    
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 390px;
    padding: 40px;
    border-radius: 8px;
}
.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
    }
.login input{
     margin-top: 10px;
     background-color: aliceblue;
     padding-left: 10px; 
     color: Oblack;
     border: none;
     height: 60px;
     outline: none;
    border-radius: 8px;
}
.login img{
    width: 200px;
    height: auto;
}
.btn-link{
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4px;
    font-size: 20px;
    color: white;
}
.btn-link:hover{
    box-shadow: 4px 4px 4px orange;
}
p1{
    padding: 10px;
}